--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
pgvector
langchain
langchain-openai
python-dotenv
sqlalchemy
bcrypt
pyjwt
email-validator
psycopg2-binary
gunicorn
langchain-google-genai
langchain-text-splitters
slowapi
